.btnLinks{
  border-width: 2px;
  border-style:solid;
  border-color:#a7cfda;
  color: white;
  padding: 10px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #339999;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

h4 {
  color:white;
}